/* Button.css */
.button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}
.success {
  background-color: #86bc24;
  color: #fff;

}

.error {
  background-color: grey;
  color: #fff;
}

.enrolled {
  background-color: whitesmoke;
}
.outline_success{
  color: #86bc24;
  width: 18%;
  border: 1px solid #86bc24;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button:disabled {
  cursor: not-allowed;
}
