.Learning_container {
  display: flex;
  width: 1440px;
  height: 500px;
  margin-left: 110px;
  /* margin-top: 20px; */
  margin-top: 2%;

}
.left_section {
  width: 70%;
  /* padding: 0px 40px; */
  padding: 0 3% 0 0;
  /* background-color: red; */
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c_learning {
  /* font-size: 31px; */
  font-size: 220%;
  font-weight: 500;
}
.see_all {
  font-size: 16px;
  color: #86bc24;
  /* margin-right: 10px; */
}

.right_section {
  width: 30%;
  /* background-color: pink; */
}
.status {
  font-size: 31px;
  font-weight: 500;
}
.status_list {
  background-color: white;
  margin: 3% 0;
  height: 82%;
  border-radius: 8px;
  /* margin-bottom: 8%; */
}
.status_row {
  display: flex;
  /* background-color: pink; */
  justify-content: space-around;
  align-items: center;
  margin: 12px;
  padding: 12px;
}
.status_col2 {
  font-size: 400%;
  font-weight: 400;
  color: #4c661e;
}
.status_col3 {
  font-size: 90%;
  color: #4c661e;
}
